---
import { Image } from "astro:assets";
import Logo from "../assets/images/Logo.png";
import LogoMobil from "../assets/images/LogoMobil.png";
import BurgerIcon from "../assets/images/BurgerIcon.png";
---

<nav>
  <div class="nav__header">
    <Image src={Logo} alt="logo" loading={"eager"} class="nav__logo" />
    <Image
      src={LogoMobil}
      alt="logo"
      loading={"eager"}
      class="nav__logo-mobil"
    />
    <Image
      src={BurgerIcon}
      alt="logo"
      loading={"eager"}
      class="nav__logo-burger"
    />
  </div>
  <div class="div_items">
    <ul class="nav__items-ul">
      <li><a href="#">About us</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Use Cases</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
    <div class="btn_div">Request a quote</div>
  </div>
</nav>

<style>
  nav {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .nav__logo {
    cursor: pointer;
  }

  .nav__logo-mobil,
  .nav__logo-burger {
    display: none;
  }

  .div_items {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style: none;
    transition: transform 0.3s ease;
  }

  li:hover {
    transform: scale(1.1);
  }

  .btn_div {
    width: 231px;
    height: 68px;
    border-radius: 14px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
  }

  @media (max-width: 575px) {
    nav {
      height: 23.61px;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 20px 5px;
      flex-direction: column;
    }

    .nav__header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: auto;
    }

    .nav__logo {
      display: none;
    }

    .nav__logo-mobil {
      display: block;
    }

    .nav__logo-burger {
      display: block;
      margin-left: auto;
      cursor: pointer;
    }

    .div_items {
      width: 100%;
      background-color: green;
      justify-content: center;
      display: flex;
      margin: auto;
    }

    .nav__items-ul {
      display: flex;
      flex-direction: column;
      z-index: 100;
      background-color: #191a23;

      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      gap: 20px;
      max-height: 0; /* Inicialmente oculta */
      overflow: hidden; /* Oculta el contenido desbordado */
      transition: max-height 0.5s ease-out; /* Transición suave */
      color: white;

      & li {
        padding: 10px 0px;
        align-items: center;
        margin: auto;
        text-align: center;

        &:hover {
          background-color: rgb(75, 75, 75);

          width: 100%;
        }

        & a {
          color: white;
        }
      }
    }

    .nav__items-ul.open {
      max-height: 500px; /* Ajusta según el contenido */
    }

    .btn_div {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const iconBurger = document.querySelector(".nav__logo-burger");
    const navItems = document.querySelector(".nav__items-ul");

    if (iconBurger && navItems) {
      iconBurger.addEventListener("click", () => {
        navItems.classList.toggle("open");
      });
    }
  });
</script>
